        <div class="row wrapper border-bottom white-bg page-heading" style="margin-top:10px;">
            <div class="col-lg-10">
                <ol class="breadcrumb">
                        <li> <a href="app-list"> List </a> > Add </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
					
                            <form class="form-horizontal" name="addForm" novalidate>
                                 <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" name="firstName" required ng-model="emp.firstName">
											 <div class="validation-error" ng-if="addForm.firstName.$error.required && addForm.firstName.$dirty" >Field Required</div>
										</div>
                                        <div class="col-sm-4">
                                             <label>LAST NAME</label>
                                            <input type="text" class="form-control" name="lastName" required ng-model="emp.lastName"> <!-- ng-maxlength="10" -->
											<div class="validation-error" ng-if="addForm.lastName.$error.required && addForm.lastName.$dirty" >{{ 'REQUIRDFIELD' | translate }}</div>
											</div>
                                    </div>
                                 </div>
								<div class="form-group">
                                    <div class="col-sm-12">
                                    	
                                        <div class="col-sm-4">
                                            <label>Location</label>
                                            <input type="text" class="form-control" name="location" required ng-model="emp.location">
									    </div>
                                        
                                        <div class="col-sm-4">
                                            <label>Email ID</label>
											 <input type="text" class="form-control" required ng-model="emp.email">
											 <div class="validation-error" ng-if="addForm.employeeId.$error.required && addForm.employeeId.$dirty" >{{ 'REQUIRDFIELD' | translate }}</div>
									    </div>
								</div>
                                </div>
								
                            </form>
							<div class="form-group clearfix">
								<div class="col-sm-12">
									<button class="btn btn-danger" ng-click="cancel();">Cancel</button>
									<button class="btn btn-success" ng-click="addEmployee(addForm.$invalid);" ng-disabled="addForm.$invalid">Save</button>

								</div>
							</div>
                        </div>
                    </div>
          