<div class="ibox-title" style="margin-top:10px;">
									
					<div class="ibox-tools"> 
					  <ul class="breadcrumb">
						<li><h3>Employees in the system</h3></li>
						<li style="margin-left:550px;">
							<a href="#add" class="btn btn-primary">Add</a>
						</li>
						<li>
							<a href="#edit/{{id}}" class="btn btn-success">Edit</a>
						</li>
						<li>
							<a href="#" class="btn btn-danger" ng-click = "deleteEmp()">Delete</a>
						</li>
						
						</ul>
					</div>
				</div>

 
  <table class="table">
    <thead>
      <tr>
		<th></th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
		<th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = 'employee in employeeList' ng-if='employee.id'>
		<td><input type='checkbox' ng-click = 'selectedRecord(employee.id)'></td>
	    <td>{{employee.firstName}}</td><td>{{employee.lastName}}</td><td>{{employee.email}}</td><td>{{employee.location}}</td>
      </tr>
    </tbody>
  </table>